html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: Roboto ;
  background-color: radial-gradient(circle, rgba(2,0,36,1) 94%, rgba(54,205,236,1) 100%, rgba(2,19,56,1) 100%) !important;
/* color: whitesmoke; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
